.slide-fade-enter-active[data-v-9427828c],.slide-fade-leave-active[data-v-9427828c]{transition:all .3s ease}.slide-fade-enter-from[data-v-9427828c],.slide-fade-leave-to[data-v-9427828c]{width:0;opacity:0;transform:translate(-20px)}
